@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* font family */
    --poppins : "Poppins", sans-serif;
    
    /* colors */
    --primary: #ffffff;
    --secondary: #EDF7FA;
    --accent: #FF6464;
    --dark: #2A326F;
    --light: #8695A4;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--poppins);
    background-color: var(--primary);
}
img{
    max-width: 100%;
    display: block;
}
ul,ol{
    list-style-type: none;
}
.container{
    width: 90%;
    max-width: 68.75rem;
}

header{
    position: relative;
    /* border: 1px solid red; */
    height: 14dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: clip;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navlinks_container{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 60%;
    height: 86dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
    gap: 1rem;
    transition: ease 300ms;
}
.navlinks_container-helper{
    right: 0;
}
#hamburger_icon{
    cursor: pointer;
}

/* hero section styles */
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
h1{
    font-size: clamp(1.4rem, 1.13rem + 1.728vw, 2.75rem);
    font-weight: 700;
}
.hero-section_text{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.hero-section_text > p{
    font-size: clamp(1rem, 0.975rem + 0.16vw, 1.125rem);
    color: var(--dark);
}
.hero-section_text > button{
    font-size: clamp(1rem, 0.975rem + 0.16vw, 1.125rem);
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 0.25rem;
    border: none;
    padding: .7em 1em;
}
.hero-section_image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section_image img{
    position: relative;
    z-index: 10;
}
.hero-section_image > div{
    width: 14.2rem;
    height: 14.2rem;
    top: 56%;
    left: 46%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--secondary);
    border-radius: 50%;
    /* z-index: 10; */
}

@media(width >= 768px){
    #hamburger_icon{
        display: none;
    }
    .navlinks_container{
        position: static;
        width: fit-content;
        height: auto;
        flex-direction: row;
        justify-content: right;
        background-color: var(--primary);
    }
}